@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  background: radial-gradient(circle at 20% 20%, rgba(46,197,255,0.2), transparent 50%),
              radial-gradient(circle at 80% 10%, rgba(255,46,136,0.15), transparent 50%),
              #05060a;
}